{% extends 'main.html' %} {% block content %}
<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <!-- <h3 class="inbox__title">New Messages(<span>{{unreadCount}}</span>)</h3> -->

    <ul class="messages">
      {%if conversations%}
      {% for conversation in conversations %}
      <li class="message">
        {% if owner == conversation.sender.id %}
        <a href="{% url 'chat-message' conversation.recipient.id %}">
          <span class="message__author">You</span>
        {% else%}
        <a href="{% url 'chat-message' conversation.sender.id %}">
          <span class="message__author">{{conversation.sender}}</span>
        {%endif%}
        {% if conversation.message|length > 30 %}
        <span class="message__subject">{{conversation.message|slice:":45"}}...</span>
        {% else %}
        <span class="message__subject">{{conversation.message}}</span>
        {% endif %}
          <span class="message-date">{{conversation.created_at}}</span>
        </a>
      </li>
      {%endfor%}
      {% else %}
      <li class="message">
        Please start a conversation to see your messages here.
      </li>
      {%endif%}
    </ul>
  </div>
</main>

{% endblock content %}
